@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: url(/theme/webfonts/robotoslab.v24.ttf) format('truetype');
}
@font-face {
  font-family: 'Ruda';
  font-style: normal;
  font-weight: 400;
  src: url(/theme/webfonts/ruda.v23.ttf) format('truetype');
}
