{% extends "base.html" %}
{% block html_lang %}{{ article.lang }}{% endblock %}
{% block title %}{{ SITENAME }} - {{ article.title }}{% endblock %}
{% block head %}
{{ super() }}
{% if article.description %}
<meta name="description" content="{{ article.description }}" />
{% endif %}
{% for tag in article.tags %}
<meta name="tags" content="{{ tag }}" />
{% endfor %}
{% endblock %}
{% block content %}
<main>
    <article>
      <h1>{{ article.title }}</h1>
      {% if article.author %}
      <h2>{{ article.author }} ({% if article.institution %}{{ article.institution }}{% else %}{{ DEFAULT_INSTITUTION }}{% endif %})</h2>
      {% endif %}
        {% import 'translations.html' as translations with context %}
        {{ translations.translations_for(article) }}
        <aside>
            <ul>
                <li>
                  <time datetime="{{ article.date }}">{{ article.date|strftime('%b %d, %Y') }},
		  {% if article.time %}{{ article.time }}{% else %}{{ DEFAULT_TIME }}{% endif %}</time>
		  {% if article.location %}{{ article.location }}{% else %}{{ DEFAULT_LOCATION }}{% endif %}
                </li>
                {% if article.modified %}
                <li>
                    <time datetime="{{ article.modified }}">Modified
                        on {{ article.modified|strftime('%b %d, %Y') }}</time>
                </li>
                {% endif %}
                {% if article.readtime %}
                <li>{{ article.readtime.minutes }} min read</li>
                {% endif %}
                {% if article.category %}
                <li>
                    Categories:
                    <a href="{{ SITEURL }}/{{ article.category.url }}"><em>{{ article.category }}</em></a>
                    {% endif %}
                </li>
                {% if article.tags %}
                <li>
                    Tags:
                    {% for tag in article.tags %}
                    <a href="{{ SITEURL }}/{{ tag.url }}"><em>#{{ tag }}</em></a>
                    {% endfor %}
                    {% endif %}
                </li>
            </ul>
        </aside>
        {{ article.content }}
    </article>
    <section class="post-nav">
        <div id="left-page">
            <div id="left-link">
                {% if article.next_article %}
                <div id="left-arrow"><i class="fa fa-chevron-circle-left"></i></div>
                <a href="{{ SITEURL }}/{{ article.next_article.url }}"> {{ article.next_article.title }}</a>
                {% endif %}
            </div>
        </div>
        <div id="right-page">
            <div id="right-link">
                {% if article.prev_article %}
                <a href="{{ SITEURL }}/{{ article.prev_article.url }}">{{ article.prev_article.title }} </a>
                <div id="right-arrow"><i class="fa fa-chevron-circle-right"></i></div>
                {% endif %}
            </div>
        </div>
    </section>
    <div>
        {% include 'disqus_script.html' %}
    </div>
</main>
{% endblock %}
