{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Schedule{% endblock %}

{% block content %}
    <main>
        <section id="list">
            <h2>{{ category }}</h2>
            <ul>
              {% set ns = namespace(current = 0) %}
              {% for article in articles_page.object_list %}
                {% set period = article.date | strftime('%Y') %}
                {% if ns.current != period %}
                <h3>{{ period }}</h3>
	        {% set ns.current = period %}
	        {% endif %}
                <li>
                  <time>{{ article.date|strftime('%b %d') }}</time><span>&nbsp;&nbsp;</span>
		  <a href="{{ SITEURL }}/{{ article.url }}"><strong>{{ article.title }}</strong>
		    {{ article.author }} ({% if article.institution %}{{ article.institution }}{% else %}{{ DEFAULT_INSTITUTION }}{% endif %})
		  </a>
		</li>
	      {% endfor %}
            </ul>
        </section>
        {% if articles_page.has_other_pages() %}
            {% include 'pagination.html' %}
        {% endif %}
    </main>
{% endblock %}

