{% extends "base.html" %}
{% block content %}
    <main>
      {% if INDEX %}<section>{{ INDEX }}</section>{% endif %}
      <section id="home">
            <ul>
              {% for article in articles_page.object_list %}
              <li>
		{% if WITH_PAST_DATES_IN_INDEX or article.date.isocalendar() >= article.date.today().isocalendar() %}
		<h2>
		  <time datetime="{{ article.date }}">{{ article.date|strftime('%d %b %Y') }}</time>
                  <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
                     title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
		</h2>
		<h3>{{ article.author }} ({% if article.institution %}{{ article.institution }}{% else %}{{ DEFAULT_INSTITUTION }}{% endif %})
		</h3>
		{% endif %}
              </li>
              {% endfor %}
            </ul>
            {% if articles_page.has_other_pages() %}
                {% include 'pagination.html' %}
            {% endif %}
        </section>
    </main>
{% endblock content %}
